%section.pull-right
  = link_to 'SIGN IN', '#', class: 'btn btn-primary'

%section.container

%section.container
  %center
    %p
      = image_tag('google.png')

%section.container
  %center
    %p
      %input

%section.container
  %center
    %p
      = link_to 'Google Search', '#', class: 'btn'
      = link_to 'I\'m Feeling Lucky', '#', class: 'btn'

%section.container
  %center
    %p
      Google.com offered in:
      = link_to '中文(简体)', '#'
      = link_to '中文(繁体)', '#'
