%p
  = link_to 'SIGN IN', '#', class: 'btn btn-primary'

%p.center
  = image_tag('google.png')

%p
  %input

%p
  = link_to 'Google Search', '#', class: 'btn'
  = link_to 'I\'m Feeling Lucky', '#', class: 'btn'

%p
  Google.com offered in:
  = link_to '中文(简体)', '#'
  = link_to '中文(繁体)', '#'
