%footer.footer
  %nav
    %ul
      - google = 'http://google.com'
      %li= link_to 'Advertising Programs', "#{google}/ads"
      %li= link_to 'Business Solutions', "#{google}/services"
      %li= link_to 'Privacy & Terms', "#{google}/policies"
      %li= link_to '+Google', 'http://plus.google.com'
      %li= link_to 'About Google', "#{google}/about"
      %li= link_to 'Google.com', "#{google}"
