%header.navbar.navbar-fixed-top.navbar-inverse
  .navbar-inner
    %nav
      %ul.nav
        %li= link_to '+You', '#'
        %li= link_to 'Search', '#'
        %li= link_to 'Images', '#'
        %li= link_to 'Maps', '#'
        %li= link_to 'Play', '#'
        %li= link_to 'YouTube', '#'
        %li= link_to 'News', '#'
        %li= link_to 'Gmail', '#'
        %li= link_to 'Drive', '#'
        %li= link_to 'Calendar', '#'
        %li= link_to 'More', '#'
