<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <nav>
      <ul class="nav">
        <li><%= link_to "+You", '#' %></li>
        <li><%= link_to "Search", '#' %></li>
        <li><%= link_to "Images", '#' %></li>
        <li><%= link_to "Maps", '#' %></li>
        <li><%= link_to "Play", '#' %></li>
        <li><%= link_to "YouTube", '#' %></li>
        <li><%= link_to "News", '#' %></li>
        <li><%= link_to "Gmail", '#' %></li>
        <li><%= link_to "Drive", '#' %></li>
        <li><%= link_to "Calendar", '#' %></li>
        <li><%= link_to "More", '#' %></li>
      </ul>
    </nav>
  </div>
</header>
